/nbproject
/.settings
/vpproject
/node_modules
/.settings
/.project
/.idea
/web/libs
/web/css/*.css
/web/js/*.js
/web/img/**/*.png
/web/img/**/*.jpg
/web/img/**/*.ico
.buildpath
/coverage-report
/coverage
/docs
.env.*.js
.env.js
!.env.example.js
.vscode/
/*.log

