body {
    padding: 1em;
    margin: 0;
    font-family: "Sans serif";
    text-align: center;
    color: #444;
}

h1 {
    font-size: 1.5em;
}

.container {
    max-width: 90%;
    margin: auto;
}

nav {
    width: 90%;
    margin: auto;
    background: #eee;
    text-align: left;
    line-height: 1.2em;

    a {
        display: inline-block;
        padding: 0.8em;
        font-size: 1.2em;
        text-decoration: none;
        color: #333;
        transition: all ease-in-out .2s;

        &:hover {
            background: #ddd;
            color: black;
        }
    }

    ul {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            a {
                font-size: .9em;
            }
        }
    }
}

.movies-search-form {
    input[type=search] {
        border: 1px solid #ccc;
        font-size: 1.8em;
        padding: 1em;
        width: 80%;
        text-align: center;
        color: #666;
    }
}

.movies-search-results-list {
    list-style: none;
    padding: 0;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    .movies-search-result {
        max-width: 20em;
        min-width: 15em;
        margin: 1em .5em;
        flex-grow: 30;
        flex-basis: 20%;

        .poster {
            display: block;
            position: relative;
            img {
                width: 100%;
            }
        }

        .title {
            display: block;
            font-size: 1.5em;
            line-height: 120%;
            overflow: hidden;
            white-space: nowrap;
        }

        .year {
            line-height: 1.5em;
            font-size: .8em;
            color: #666;
            font-style: italic;
        }
    }
}
